{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - {% trans %}My Team{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/myteam.png') }}" alt="attribution">  {% trans %}My Team{% endtrans %}
        <sapn class="badge alert-danger p-2  ms-2" style="font-size: 18px; font-weight: bold;">{% trans %}locked users{% endtrans %}</sapn>
    </h2>
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-5.3.2/dist/css/bootstrap.min.css.map') }}">



    <section class="section bg-white p-2 m-1" style="border-radius: 10px">

        <table
                id="utilisateurs"
                class="table table-responsive-sm"
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                data-row-height = "200"
                data-id-table = "myusers"
                >
            <thead>
            <tr  style="background-image: linear-gradient(rgba(63,104,29,0.8),rgba(54,87,26,0.8), rgba(12,96,33,0.7));color:white;border: 0px;">
                <th data-field="photo"></th>
                <th data-field="nomUtilisateur">{% trans %}Firstname and Lastname{% endtrans %}</th>
                <th data-field="email">{% trans %}Email{% endtrans %}</th>
                <th data-field="mobile">{% trans %}Mobile Phone{% endtrans %}</th>
                <th data-field="profileUser">{% trans %}Profile{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for utilisateur in liste_users %}
                {% if (utilisateur.actif == true) %}
                    <tr>
                {% else %}
                    <tr class="alert-danger"  title={% trans %}"This account is locked"{% endtrans %}>
                {% endif %}

                <td>

                    {% if( utilisateur.photo ) %}
                        <a class="utilisateur_infos" id="{{ utilisateur.id }}" href="#" data-toggle="modal" data-target="#photo"><img class="rounded-circle" src="{{ asset('images/uploads/users/') }}{{ utilisateur.photo }}" alt="avatar" height="48"></a>
                    {% else %}
                        <img class="rounded-circle" src="{{ asset('assets/images/webapp/user.png') }}" alt="avatar"  height="48">
                    {% endif %}
                </td>
                <td class="text-dark ">
                    <a class="fw-bold text-secondary link fs-5" href="#" id="{{ utilisateur.id }}"  data-bs-toggle='dropdown' aria-expanded='false'>
                        {% if(utilisateur.isResponsable) %}
                            <sapn class="badge bg-success text-white p-2">{{ utilisateur.prenomsUtilisateur}} {{ utilisateur.nomUtilisateur}}</sapn>
                        {% else %}
                            <sapn class=" p-1 fs-7 text-dark">{{ utilisateur.prenomsUtilisateur}} {{ utilisateur.nomUtilisateur}}</sapn>
                        {% endif %}
                    </a>
                    <ul class='dropdown-menu alert-success ms-5' aria-labelledby='dropdownMenuButtonSM'>

                        <li>
                            <a class='dropdown-item menuBtn'  href='#'>
                                <img src='{{ asset('assets/icons/email.png') }}'  alt=''>

                                <span class='ms-2'>{% trans %}Send Email{% endtrans %}</span>
                            </a>
                        </li>
                        <li>
                            <a class='dropdown-item menuBtn'  href='#'>
                                <img src='{{ asset('assets/icons/profile2.png') }}'  alt=''>

                                <span class='ms-2'>{% trans %}See profile{% endtrans %}</span>
                            </a>
                        </li>

                    </ul>
                </td>
                <td style="font-size: 16px;" >{{ utilisateur.email }}</td>
                <td style="font-size: 16px;">{{ utilisateur.mobile }}</td>
                <td style="font-size: 16px;font-weight: bold;">
                    {% if (utilisateur.isResponsable) %}
                        <a class='badge alert-success btn-sm fw-bold text-dark' style="border: 2px solid green; border-radius: 5px;" id="{{ utilisateur.id }}">
                            {{ utilisateur.codeGroupe.nomGroupe }}
                        </a>
                      {% else %}
                          <a class='btn alert btn-sm fw-bold text-dark drpBtn ' type='button' id="{{ utilisateur.id }}" data-bs-toggle='dropdown' aria-expanded='false'>
                              {{ utilisateur.codeGroupe.nomGroupe }}
                          </a>
                          <ul class='dropdown-menu ms-5 text-dark' aria-labelledby='dropdownMenuButtonSM'>
                              {% for profile  in mygroups %}
                                  <li>
                                      {% if(profile.nomGroupe == utilisateur.codeGroupe.nomGroupe) %}
                                      <a class='dropdown-item menuBtn' id='{{ profile.id }}'>
                                          <i class="bi bi-check fs-4 text-success fw-bold me-2"></i><span class='fw-bold ms-2'>{{ profile.nomGroupe }}</span>
                                      </a>
                                      {% else %}
                                          <a class='dropdown-item menuBtn ms-2' id='{{ profile.id }}' href='{{ path('change_profile', {'id_utilisateur': utilisateur.id, 'id_groupe': profile.id },) }}'>
                                              <span class='ms-3'>- {{ profile.nomGroupe }}</span>
                                          </a>
                                      {% endif %}
                                  </li>
                              {% endfor %}
                          </ul>
                    {% endif %}
                </td>

                <td>
                    {% if (utilisateur.isResponsable) %}

                    {% elseif (utilisateur.actif) %}
                        <a href="#" class="bloquer" id="{{ utilisateur.id }}"><img src="{{ asset('assets/icons/lock.png') }}" alt="Bloquer"></a>
                    {% else %}
                        <a href="#"  class="debloquer" id="{{ utilisateur.id }}"><img src="{{ asset('assets/icons/unlock.png') }}" alt="Débloquer"></a>
                    {% endif %}

                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

        <div class="modal fade" id="photo" tabindex="-1" role="dialog" aria-labelledby="photo" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <center>
                    <div class="modal-header text-center bg-success">
                        <h3 class="text-light" id="Username"></h3>
                        <button type="button" class="close text-white fs-5" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" id="divPhoto">
                        <div class="spinner-grow spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">

                            <div class="mt-5"><span class="visually-hidden"></span></div>
                        </div>
                    </div>
                   {# <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    </div>#}
                    </center>
                </div>
            </div>
        </div>

    <script src="{{ asset('assets/webapp/table/assets/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/webapp/table/assets/popper.min.js') }}"></script>
    <script src="{{ asset('assets/webapp/table/assets/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/webapp/table/dist/extensions/toolbar/bootstrap-table-toolbar.min.js') }}"></script>
    <script src="{{ asset('assets/webapp/table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js') }}"></script>




    <script>
        $('.utilisateur_infos').on('click', function(){
            //e.preventDefault();
            let UserDivPhoto = document.querySelector('#divPhoto');
            $.ajax({
                url:'{{ path('user_details') }}/' + this.id ,
                type : 'POST',
                data : {id_user: this.id},
                success: function(response){
                    console.log(response);
                    let userInfos = JSON.parse(response);
                    $('#Username').text(userInfos.nom_prenoms);
                    var photo = "<img class='rounded-circle' src='/images/uploads/users/"+ userInfos.photo + "' alt='avatar' height='400'>";
                    UserDivPhoto.innerHTML = photo;
                }
            });

        })

        $('.bloquer').click(function (e){
            Swal.fire({
                title: '{% trans %}SNVLT SECURITY{% endtrans %}',
                html: "<h4 class='text-danger'>{% trans %}Do you want to lock this user ?{% endtrans %}</h4>",
                imageUrl: '{{ asset('assets/images/SNVLT.png') }}',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#5daf11',
                background: '#f8e9e9',
                confirmButtonText: '{% trans %}Yes, lock{% endtrans %}',
                toast: true,
                padding: '3em'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url:'{{ path('secure_lock_user') }}/' + this.id ,
                        type : 'POST',
                        data : {id_user: this.id},
                        success: function(response){
                            console.log(response);
                            let parentMenuInfo = JSON.parse(response);
                        }
                    });
                    Swal.fire(
                        '{% trans %}locked!{% endtrans %}',
                        '{% trans %}The user is now blocked{% endtrans %}.',
                        '{% trans %}Success{% endtrans %}'
                    ).then((result) => {
                        if (result.isConfirmed) {
                            document.location.reload();
                        }
                    });

                }
            });
        });

        $('.debloquer').click(function (e){
            Swal.fire({
                title: '{% trans %}SNVLT SECURITY{% endtrans %}',
                text: "{% trans %}Do you want to unlock this user ?{% endtrans %}",
                imageUrl: '{{ asset('assets/images/SNVLT.png') }}',
                showCancelButton: true,
                confirmButtonColor: '#5daf11',
                cancelButtonColor: '#d33',
                confirmButtonText: '{% trans %}Yes, Unlock{% endtrans %}!',
                toast: true,
                padding: '1em',
                background: '#e6f8e8',
                backdrop: `
                            rgba(0,0,800,0.4)
                            url("/images/nyan-cat.gif")
                            left top
                            no-repeat
                          `
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url:'{{ path('secure_unlock_user') }}/' + this.id ,
                        type : 'POST',
                        data : {id_user: this.id},
                        success: function(response){
                            console.log(response);
                            let parentMenuInfo = JSON.parse(response);
                        }
                    });
                    Swal.fire(
                        '{% trans %}Unlocked!{% endtrans %}',
                        '{% trans %}The user is now active{% endtrans %}.',
                        '{% trans %}Success{% endtrans %}'
                    ).then((result) => {
                        if (result.isConfirmed) {
                            document.location.reload();
                        }
                    });



                }

            });
        });
    </script>
{% endblock %}