{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - {% trans %}My profile{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/user.png') }}" alt="profile">  {% trans %}My profile{% endtrans %}
    </h2>
{% endblock %}

 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <section class="section bg-light">
        {{ form_start(form, {'attr': {novalidate: 'novalidate', 'class':'form-horizontal form-material mx-2'}}) }}



        <div class="row p-2">
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">


                    <div class="card-body profile-card">
                        <center class="mt-4">
                            {% if (mes_infos.photo) %}
                            <img src="{{ asset('images/uploads/users/') }}{{ mes_infos.photo }}"
                                       class="rounded-circle" width="150"  alt="user-avatar" id="uploadedAvatar"/>
                            {% else %}
                                <img src="{{ asset('assets/images/webapp/user.png') }}"
                                     class="rounded-circle" width="150"  alt="user-avatar" id="uploadedAvatar"/>
                            {% endif %}
                            <h4 class="card-title mt-2">{{ mes_infos.prenomsUtilisateur }} {{ mes_infos.nomUtilisateur }}</h4>
                            <h6 class="card-subtitle">{{ mes_infos.codeGroupe.nomGroupe }}</h6>
                            <div class="w-100 mt-3">
                                {{form_row(form.photo, {'attr':{'class':'account-file-input','id':'upload','hidden':'true', 'accept':'image/png, image/jpeg'}})}}
                                <button type="button" class="btn btn-outline-danger account-image-reset mb-4" style="font-size: 16px; font-weight: bold;">
                                    <i class="bx bx-reset d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">{% trans %}Reset{% endtrans %}</span>
                                </button>

                                <p class="text-dark mb-0">{% trans %}Allowed JPG, GIF or PNG. Max size of 800K{% endtrans %}</p>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">
                            <div class="form-group">
                                <label class="col-md-12 mb-0 text-danger">{% trans %}Firstname{% endtrans %}</label>
                                <div class="col-md-12">
                                    {{form_row(form.prenoms_utilisateur)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 mb-0 text-danger">{% trans %}Lastname{% endtrans %}</label>
                                <div class="col-md-12">
                                    {{form_row(form.nom_utilisateur)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 text-danger">{% trans %}Email{% endtrans %}</label>
                                <div class="col-md-12">
                                    {{form_row(form.email)}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 text-danger">{% trans %}Phone No{% endtrans %}</label>
                                <div class="col-md-12">
                                    {{form_row(form.mobile)}}
                                </div>
                            </div>

                            <div class="form-group align-content-lg-start">
                                <div class="col-sm-12 d-flex">
                                    <button type="submit" class="btn btn-success mx-auto mx-md-0 text-white">{% trans %}Update Profile{% endtrans %}</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>

        <!--Modification de l'dr -->
        {{ form_end(form) }}

    </section>
    <script src='{{ asset('assets/assets_other/js/pages-account-settings-account.js') }}'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>


{% endblock %}

