{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Ministry Services{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/service_minef.png') }}" alt="attribution">  {% trans %}Ministry Services{% endtrans %}
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
            <a class="btn btn-inverse-danger p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('serviceminef.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>{% trans %}Add{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">
    <section class="section">
        <div class="card">

            <div class="card-body">
                <table class="table table-responsive table-striped" id="serviceminefs">
                    <thead>
                    <tr style="background: #e2ffed">
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Acronym{% endtrans %}</th>
                        <th>{% trans %}Manager{% endtrans %}</th>
                        <th>{% trans %}Manager email{% endtrans %}</th>
                        <th>{% trans %}Manager Phone{% endtrans %}</th>
                        <th>{% trans %}Direction{% endtrans %}</th>
                        <th class="text-center">{% trans %}Number of agents{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sm in serviceminef %}

                        <tr>
                            <td class=""><a class="link-dark editBtn" style="font-weight: bold;color: #370905" href="{{ path('serviceminef.edit', {'id_serviceminef': sm.id })}}" id="{{ sm.id }}">{{ sm.libelleService }}</a></td>
                            <td class="text-dark">{{ sm.sigle }}</td>
                            <td><span class="badge text-white p-2" style="font-weight: bold;font-size: 14px;border-radius: 10px;background-color: rgba(36,35,35,0.89)">{{ sm.personneRessource }}</span></td>
                            <td><span class="badge alert-light text-white p-2" style="font-size: 14px;border-radius: 10px;;background-color: rgba(36,35,35,0.89)">{{ sm.emailPersonneRessource }}</span></td>
                            <td><span class="badge alert-light text-white p-2" style="font-size: 14px;border-radius: 10px;;background-color: rgba(36,35,35,0.89)">{{ sm.mobilePersonneRessource }}</span></td>
                            <td class="text-danger fw-bold" style="font-weight: bold;">{{ sm.codeDirection.sigle}}</td>
                            <td class="text-center">{{ sm.users.count}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#serviceminefs');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>


{% endblock %}

