<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans %}SNVLT{% endtrans%} - {% trans %}Connexion{% endtrans %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('assets/assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/assets/vendors/css/vendor.bundle.base.css') }}/">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('assets/assets/css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset('assets/icons/drapeauci.ico') }}" />
</head>
<body>
<div class="container-scroller bg-success">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth" style="background-image: url('{{ asset('assets/images/fond_login - Copie.jpg') }}'); background-size: cover; background-repeat: no-repeat;">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="text-left p-5" style="background-color: rgba(190,254,116,0.3)">
                        <h3 class="text-danger text-center">{% trans %}National System for Verification of wood Tracking and Legacy {% endtrans %}</h3>
                        <div class="brand-logo row">
                            <img class="text-center ms-3 col-3" src="{{ asset('assets/images/logo_snvlt.png') }}"   alt="armoirie">
                            <img class="text-center ms-3 col-3 offset-6" style="text-align: right" src="{{ asset('assets/images/armoirieci.png') }}"   alt="armoirie">
                        </div>
                        <h4 class="text-dark fw-bold">{% trans %}Sign in to continue.{% endtrans %}</h4>
                        <form class="pt-3" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group">
                                <input type="email" value="{{ last_username }}" class="form-control form-control-sm bg-white" name="email" id="inputEmail" placeholder="{% trans %}Your email address{% endtrans %}">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-sm bg-white" name="password" id="inputPassword" placeholder="{% trans %}Your password{% endtrans %}" autocomplete="current-password" required>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">{% trans %}SIGN IN{% endtrans %}</button>
                            </div>

                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-black" style="cursor:pointer;">
                                        <input type="checkbox" name="_remember_me" class="form-check-input">{% trans %}Keep me signed in{% endtrans %} </label>
                                </div>
                                <a href="{{ path('app_forgot_password_request') }}" class="auth-link text-black">{% trans %}Forgot password?{% endtrans %}</a>
                            </div>

                            <div class="text-center mt-4 font-weight-light"><span class="text-dark"> {% trans %}Don't have an account?{% endtrans%}</span> <a href="{{ path('app_register') }}" class="text-primary">{% trans %}Ask for an access{% endtrans %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{{ asset('assets/assets/vendors/js/vendor.bundle.base.js') }}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{{ asset('assets/assets/js/off-canvas.js') }}"></script>
<script src="{{ asset('assets/assets/js/hoverable-collapse.js') }}"></script>
<script src="{{ asset('assets/assets/js/misc.js') }}"></script>
<!-- endinject -->
</body>
</html>