{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Manage Stock{% endtrans %}
{% endblock %}

{% block titre_page %}
    <div class="">
        <img src="{{ asset('assets/images/webapp/stock.png') }}" alt="dr"> {% trans %}Manage Stock{% endtrans %} <a
                class="btn btn-sm fs-5 text-light" style="background-color: #f13306;float: right" href="{{ path('stockdoc.edit') }}"><i class="bi bi-plus-circle-fill me-2"></i>{% trans %}Add Stock{% endtrans %}</a>
    </div>

{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">

    <section class="section">
        <div class="card">

            <div class="card-body">
                <table class="table" id="stockdoc">
                    <thead>
                    <tr style="">
                        <th>{% trans %}Document{% endtrans %}</th>
                        <th>{% trans %}Type of movement{% endtrans %}</th>
                        <th>{% trans %}Date of mouvement{% endtrans %}</th>
                        <th>{% trans %}Quantity{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stock in liste_stockdocs %}

                        {% if (stock.typeMouvement is same as 'APPROVISIONNEMENT') %}
                            <tr class="alert-light-success">
                        {% else %}
                            <tr class="alert-light-danger">
                        {% endif %}

                            <td class="text-dark fw-bold"><a class="link-dark editBtn" href="{{ path('stockdoc.show', {'id_stock': stock.id })}}" id="{{ stock.id }}">{{ stock.codeTypeDocStat.abv }}</a></td>
                            <td>{{ stock.typeMouvement }}</td>
                            <td>{{ stock.createdAt | date('d M Y') }}</td>
                            <td>{{ stock.qte }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>



        // Simple Datatable
        let table1 = document.querySelector('#stockdoc');
        let dataTable = new simpleDatatables.DataTable(table1);


    </script>
    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>


{% endblock %}

