{% extends 'template_base.html.twig' %}

{% block Title %}
    SNVLT - EXPORTATEUR - [AJOUT]
{% endblock %}

{% block titre_page %}
    <img src="{{ asset('assets/images/webapp/exportateur.png') }}" alt="directions_minef" height="64" >   <a href="{{ path('ref_exportateurs') }}"> EXPORTATEURS </a>

{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <section class="section">
        <div class="card">
            <div class="card-header">
                <span class="fw-bold fs-4 p-2 mb-5" style="color: #fc4513">{{ titre }}</span>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.code_exportateur) }}</div>
                        <div class="">{{ form_row(form.raison_sociale_exportateur) }}</div>
                        <div class="">{{ form_row(form.sigle) }}</div>
                        <div class="">{{ form_row(form.adresse_exportateur) }}</div>
                        <div class="">{{ form_row(form.tel_exportateur) }}</div>
                    </div>
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.email_exportateur) }}</div>
                        <div class="">{{ form_row(form.date_creation) }}</div>
                        <div class="">{{ form_row(form.personne_ressource, {'attr': {'readonly' : true}}) }}</div>
                        <div class="">{{ form_row(form.email_personne_ressource, {'attr': {'readonly' : true}}) }}</div>
                        <div class="">{{ form_row(form.mobile_personne_ressource, {'attr': {'readonly' : true}}) }}</div>
                    </div>
                    <div class="bg-light p-2 m-2">{{ form_row(form.code_cantonnement) }}</div>
                </div>
                <a href="{{ path('ref_exportateurs') }}" class="alert-danger p-2"><i class="bi bi-back me-2"></i>Retourner à la liste</a>
                <button type="submit" class="btn btn-success ml-1 d-inline-block"
                        data-bs-dismiss="modal">
                    {% if (titre is same as "Ajouter un exportateur") %}
                        <i class="bi bi-plus-circle-fill"></i> Ajouter un exportateur
                    {% else %}
                        <i class="bi bi-pencil"></i> Modifier
                    {% endif %}
                </button>
                {{ form_end(form) }}
            </div>
        </div>


        <!--Modification de l'dr -->

    </section>
    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#drs');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
    <script>

        $(document).ready(function() {

            $('.cantonnement').select2({
                placeholder: "-- Sélectionnez le cantonnement forestier --",
                width: '100%',
                color: 'red'
            });

            const phoneInputField = document.querySelector("#exportateur_tel_exportateur");
            const phoneInput = window.intlTelInput(phoneInputField, {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
        });

    </script>


{% endblock %}

