{% set i = 0 %}
{% for notification in mes_notifs %}
    {% set i = i + 1 %}
<div class="dropdown-divider"></div>
<a class="dropdown-item preview-item notif_id" href="#{#{{ path(notification.reference, {'id_notification': notification.id }) }}#}" id="{{ notification.id }}">
    <div class="preview-thumbnail">
        <div class="preview-icon bg-success">
            <i class="mdi mdi-calendar"></i>
        </div>
    </div>
    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
        <h6 class="preview-subject font-weight-normal mb-1">{{ notification.sujet }}</h6>
        <p class="text-gray ellipsis mb-0"> {{notification.description | slice(0, 60)}} ... </p>
    </div>
</a>
{% endfor %}
<div class="dropdown-divider"></div>
<a href="{{ path('app_notifs') }}"><h6 class="p-3 mb-0 text-center">{% trans %}See all notifications{% endtrans %}</h6></a>
