{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Cantonments{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/cantonnement.png') }}" alt="attribution">  {% trans %}Cantonments{% endtrans %} - {% trans %}[ADD]{% endtrans %}
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
            <a class="btn btn-inverse-danger p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('cantonnement.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>{% trans %}Add{% endtrans %}</a>
        </div>
    </div>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}


 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}

    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">
    <section class="section">
        <div class="card">

            <div class="card-body">
                <table class="table" id="cantonnements">
                    <thead>
                    <tr style="background: #e2ffed">
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Manager{% endtrans %}</th>
                        <th>{% trans %}Manager email{% endtrans %}</th>
                        <th>{% trans %}Mobile Phone{% endtrans %}</th>
                        <th>{% trans %}DD{% endtrans %}</th>
                        <th>{% trans %}RD{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cantonnement in liste_cantonnements %}

                        <tr>
                            <td class="text-dark fw-bold"><a class="link-dark editBtn" style="font-weight: bold;color: #370905" href="{{ path('cantonnement.edit', {'id_cantonnement': cantonnement.id })}}" id="{{ cantonnement.id }}">{{ cantonnement.nomCantonnement }}</a></td>
                            <td>{{ cantonnement.personneRessource }}</td>
                            <td>{{ cantonnement.emailPersonneRessource }}</td>
                            <td>{{ cantonnement.mobilePersonneRessource }}</td>
                            {% if (cantonnement.codeDdef) %}
                                <td>{{ cantonnement.codeDdef.nomDdef}}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{ cantonnement.codeDr.denomination}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#cantonnements');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

{% endblock %}

