{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans%} - {% trans %}Attributions{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/attribution.png') }}" alt="attribution">  {% trans %}Attributions{% endtrans %}
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="Basic example">
           <a class="btn btn-inverse-danger p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('attribution.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>{% trans %}Add{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <section class="section">
                <table class="table table-responsive-sm w-100 p-2 bg-white" id="attributions">
                    <thead>
                    <tr style="background: #46a46a; color: #f0fcf0;">
                        <th style="font-size: 18px;">{% trans %}Decision No.{% endtrans %}</th>
                        <th style="font-size: 18px;">{% trans %}Forest{% endtrans %}</th>
                        <th style="font-size: 18px;">{% trans %}Owner{% endtrans %}</th>
                        <th style="font-size: 18px;" class="text-center">{% trans %}Status{% endtrans %}</th>
                        <th style="font-size: 18px;">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attribution in attributions %}
                        {% if(attribution.statut) %}
                        <tr>
                        {% else %}
                        <tr class="alert-light-danger">
                        {% endif %}
                            <td class="text-dark fw-bold"><a class=" editBtn" style="font-size: 16px; font-weight: bold;" href="#" id="{{ attribution.id }}">{{ attribution.numeroDecision }} du {{ attribution.dateDecision | date('d/m/Y') }}</a></td>
                            <td class="text-dark fw-bold">{{ attribution.codeForet.denomination }}</td>
                            <td class="text-dark fw-bold">{{ attribution.codeExploitant.raisonSocialeExploitant }}</a></td>
                            <td class="text-dark fw-bold text-center">
                                {{ attribution.reprises.count }}
                                {% if(attribution.statut) %}
                                    <span class="badge p-2 alert-light text-dark" style="font-weight: bold;">{% trans %}IN USE{% endtrans%}</span>
                                {% else %}
                                    <span class="badge p-2 bg-danger text-white">{% trans %}WITHDROWN{% endtrans%}</span>
                                {% endif %}
                            </td>
                            <td class="text-dark fw-bold"><a class="btn btn-sm text-danger"><i class="mdi mdi-delete-forever" style="font-size:  24px;" title="Retirer / Abandonner..."></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/node_modules/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script>
        let url = "";
        {% if(app.locale == 'fr') %}
            url = '//cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json';
        {% elseif(app.locale == 'en') %}
            url = '//cdn.datatables.net/plug-ins/1.13.7/i18n/en-US.json';
        {% elseif(app.locale == 'en') %}
            url = '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json';
        {% endif %}
        var table = new DataTable('#attributions', {
            language: {
                url: url,
            },
            theme:'bootstrap'
        });
    </script>

{% endblock %}

