{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Administrator Groups{% endtrans %}
{% endblock %}

{% block titre_page %}
    <div class="">
        <img src="{{ asset('assets/images/webapp/groupe.png') }}" alt="groupe"> {% trans %}Administrator Groups{% endtrans %} <a
                class="btn btn-sm fs-5 text-light" style="background-color: #f13306;float: right" href="#"><i class="bi bi-plus-circle-fill me-2"></i>{% trans %}Add{% endtrans %}</a>
    </div>

{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/css/bootstrap.css') }}">
       <style>
        .row {
            margin: 10px;
        }
    </style>

    <section class="section row">
        <div class="card col-md-8">

            <div class="card-body">
                <table class="table" id="groupes">
                    <thead>
                    <tr style="">
                        <th>{% trans %}Group{% endtrans %}</th>
                        <th>{% trans %}Number of users{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for groupe in ref_groupes %}
                        <tr>

                            <td class="text-dark fw-bold">
                                <div class='dropdown'>

                                    <a class="link-dark editBtn" href="#" id="{{ groupe.id }}"></a>
                                    <a class="btntest" href="#" id="{{ groupe.id }}"><i class="mdi mdi-database" style="font-size: large;"></i></a>
                                    <a class='btn alert-light btn-sm fw-bold text-dark drpBtn ' type='button' id="{{ groupe.id }}" data-bs-toggle='dropdown' aria-expanded='false'>
                                        {{ groupe.nomGroupe }}
                                    </a>

                                    <ul class='dropdown-menu alert-light-success ms-5' aria-labelledby='dropdownMenuButtonSM'>

                                            {% for menu  in menu_groupe.findNotInPermissionAndByGroupe(groupe.id) %}
                                            <li style="width: 100%">
                                                <a class='dropdown-item menuBtn' id='{{ menu.id }}' href='{{ path('ref_groupe_persist_menu', {'id_groupe': groupe.id, 'id_menu': menu.id },) }}'>
                                                    <img src='{{ asset('assets/icons/16x16/') }}{{ menu.iconMenu }}.png'  alt=''>

                                                    <span class='ms-2'>{{ menu.nomMenu }}</span>
                                                </a></li>
                                            {% endfor %}
                                    </ul>

                                </div>
                            </td>
                            <td>{{ groupe.users.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 "style="height: 600px;">
            <div class="container-fluid liste_menus ">

            </div>
        </div>
    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/menu/treeview.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>
    <script>



        // Simple Datatable
        let table1 = document.querySelector('#groupes');
        let dataTable = new simpleDatatables.DataTable(table1);
        let listeMenus = document.querySelector('.liste_menus');
        var htmlParent ='';

        $('.btntest').on('click', function(e){
           // alert('ok');
            e.preventDefault();
                    $.ajax({
                        url:'{{ path('ref_groupe_show_menu') }}/' + this.id ,
                type : 'POST',
                data : {id_essence: this.id},
                success: function(response){
                    console.log(response);
                    let parentMenuInfo = JSON.parse(response);

                    htmlParent = "<aside class='bd-aside  alert-light-secondary text-muted align-self-start mb-3 mb-xl-5 px-2 bg-white' style='height: 600px;overflow-y: auto;'>" +
                        "<h2 class='h6 pt-4 pb-3 mb-4 border-bottom' id='roleLbl'>Rôles</h2>" +
                        "<nav class='small alert-light-secondary' id='toc'>" +
                        "<ul class='list-unstyled alert-light-success'>";
                        for(var i=0; i< parentMenuInfo.length; i++ ) {
                            htmlParent = htmlParent + '<li class="my-2">' +
                                '<a class="btn d-inline-flex align-items-center collapsed fw-bold" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse"><img class="me-2" src="{{ asset('assets/icons/16x16/') }}'+ parentMenuInfo[i].icon_menu+'.png">' + parentMenuInfo[i].nommenu + '<a href="{{ '/snvlt/ref/r_menu/' }}'+ parentMenuInfo[i].id +'" ><img class="ms-2"  id="'+parentMenuInfo[i].id+'" src="{{ asset('assets/icons/16x16/delete.png') }}'+ '"></a></a>';
                        }
                    htmlParent = htmlParent + '</ul></nav></aside>';
                    listeMenus.innerHTML = htmlParent;
                    //listeMenus.append(htmlParent);
                }
            })
        })
    </script>



{% endblock %}

