{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Regional Directions{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/batiment.png') }}" alt="{% trans %}DR{% endtrans %}">  {% trans %}Regional Directions{% endtrans %} - {% trans %}[ADD]{% endtrans %}
    </h2>
{% endblock %}

{% block menu %}
    {% include 'base/menu.html.twig' %}
{% endblock %}

{% block notifs %}
    {% include 'base/notifs.html.twig' %}
{% endblock %}

{% block page_content %}

    <section class="section">
        <div class="card">

            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row bg-white m-1">
                        <div class="col-md-4">
                            <div class="">{{ form_row(form.denomination) }}</div>
                            <div class="">{{
                                form_row(form.personneRessource) }}</div>
                            <div class="">{{ form_row(form.emailPersonneRessource) }}</div>
                            <div class="">{{ form_row(form.mobilePersonneRessource) }}</div>
                        </div>

                        <div class="col-md-8 row bg-white mt-3 justify-content-center" style="overflow-y: scroll; height: 500px;" >
                            <h3 class="col-md-12 alert-success text-dark p-2 sticky-top text-center">{% trans %}Cantonments for this Regional Direction{% endtrans %}</h3>

                            {% for cantonnement in liste_cantonnement %}
                                    {% set i = i + 1 %}
                                    <div class="card col-md-3 m-3" style="background-color: #fffdfd;border-radius: 10px; border: 1px solid lightgrey; box-shadow: 3px 3px 1px 1px; margin-left: 5px;">
                                        <div class="card-header text-white" style="font-weight: bold;background-color: #0a430c">
                                            {{ cantonnement.nomCantonnement }}
                                        </div>
                                        <div class="card-body text-dark">
                                            <span class="text-danger" style="font-weight: bold; font-size: large">{{ cantonnement.posteForestiers.count }}</span> {% trans %}Forest Control Posts{% endtrans %}

                                            <span class="badge alert-warning p-1 border-4 w-100 mt-3" style="font-size: large;background: #fbece0;border: 1px solid lightgrey"><i class="mdi mdi-map text-success" style="font-size: 22px;"></i> <span class="text-danger">{{ cantonnement.forets.count }} {% trans %}forests{% endtrans %}</span></span><br>

                                            <hr>
                                            {% trans %}Manager{% endtrans %} : <span class="text-danger" >{{ cantonnement.personneRessource }}</span><br>

                                            <i class="mdi mdi-email text-danger" style="font-size: 20px;"></i> <span class="text-danger">{{ cantonnement.emailPersonneRessource }}</span><br>
                                            <i class="mdi mdi-phone text-danger" style="font-size: 20px;"></i> <span class="text-danger">{{ cantonnement.mobilePersonneRessource }}</span>
                                        </div>
                                    </div>
                                {% endfor %}

                        </div>

                </div>
                <hr>
                <a href="{{ path('ref_drs') }}" class="btn btn-sm bg-danger p-2 me-2 ms-5 text-white" style="font-weight: lighter"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                <button type="submit"  class="btn btn-sm bg-primary text-white p-2" style="margin-left: 10px;font-weight: lighter">

                    {% if (titre is same as "Ajouter une DR") %}
                        <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Add Regional Direction{% endtrans %}
                    {% else %}
                        <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Edit Regional Direction{% endtrans %}
                    {% endif %}
                </button>
                <span class="alert-warning ms-5" style="font-weight: bold; font-size: 16px;">
                    {{ i }} {% trans %}Cantonments{% endtrans %}
                </span>
                {{ form_end(form) }}
            </div>
        </div>


        <!--Modification de l'dr -->

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#drs');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
    <script>

        $('body').on('click', '.editBtn', function(e){
            e.preventDefault();
            $.ajax({
                url:'{{ path('edit-dr') }}/' + this.id,
                type : 'POST',
                data : {id_dr: this.id},
                success: function(response){
                    console.log(response);
                    let drInfo = JSON.parse(response);

                    $('#drs_numero_dr').val(drInfo.code_dr);
                    $('#drs_nom_vernaculaire').val(drInfo.nom_vernaculaire);
                    $('#drs_nom_scientifique').val(drInfo.nom_scientifique);
                    $('#drs_categorie_dr').val(drInfo.categorie);
                    $('#drs_dm_minima').val(drInfo.dm_minima);
                    $('#drs_famille_dr').val(drInfo.famille_dr);
                    $('#drs_taxe_abattage').val(drInfo.taxe_abattage);
                    $('#drs_taxe_preservation').val(drInfo.taxe_preservation);

                }
            })
        })
    </script>
    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>


{% endblock %}

