{% extends 'template_base.html.twig' %}

{% block Title %}
    SNVLT - Ajouter une essence
{% endblock %}

{% block titre_page %}
    <img src="{{ asset('assets/images/webapp/essences.png') }}" alt="essences_bois">  <a href="{{ path('ref_essences') }}"> Essences Forestières </a> >
    <span>{{ titre }}</span>
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">
    <section class="section">
        <div class="card">
            <div class="card-header">
                <span class="fw-bold fs-4 p-2 mb-5" style="color: #3f5a70">Interface de gestion des essences forestières</span> <p class="alert-secondary p-2 text-dark text-end rounded-4 text-danger"> cliquez sur le nom vernaculaire de l'essence dans la liste pour la modifier</p>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.numero_essence) }}</div>
                        <div class="">{{ form_row(form.nom_vernaculaire) }}</div>
                        <div class="">{{ form_row(form.nom_scientifique) }}</div>
                        <div class="">{{ form_row(form.categorie_essence) }}</div>
                    </div>
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.famille_essence) }}</div>
                        <div class="">{{ form_row(form.dm_minima) }}</div>
                        <div class="">{{ form_row(form.taxe_abattage) }}</div>
                        <div class="">{{ form_row(form.taxe_preservation) }}</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success ml-1 d-inline-block w-100"
                        data-bs-dismiss="modal">
                    {% if (titre is same as "Ajouter une essence") %}
                        <i class="bi bi-asterisk"></i>
                        <span class="d-none d-sm-block">Ajouter</span>
                    {% else %}
                    <i class="bi bi-pencil"></i>
                    <span class="d-none d-sm-block">Modifier</span>
                    {% endif %}
                </button>
                {{ form_end(form) }}
            </div>
        </div>


        <!--Modification de l'essence -->

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#essences');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
    <script>

        $('body').on('click', '.editBtn', function(e){
            e.preventDefault();
            $.ajax({
                url:'{{ path('edit-essence') }}/' + this.id,
                type : 'POST',
                data : {id_essence: this.id},
                success: function(response){
                    console.log(response);
                    let essenceInfo = JSON.parse(response);

                    $('#essences_numero_essence').val(essenceInfo.code_essence);
                    $('#essences_nom_vernaculaire').val(essenceInfo.nom_vernaculaire);
                    $('#essences_nom_scientifique').val(essenceInfo.nom_scientifique);
                    $('#essences_categorie_essence').val(essenceInfo.categorie);
                    $('#essences_dm_minima').val(essenceInfo.dm_minima);
                    $('#essences_famille_essence').val(essenceInfo.famille_essence);
                    $('#essences_taxe_abattage').val(essenceInfo.taxe_abattage);
                    $('#essences_taxe_preservation').val(essenceInfo.taxe_preservation);

                }
            })
        })
    </script>
    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>


{% endblock %}

