<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block Title %}
            SNVLT - Administrateur
        {% endblock %}
    </title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/iconly/bold.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/css/app.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/template/img/icon/drapeauci.ico') }}" type="image/x-icon">


</head>

<body style="background:#fbfcfa">

<div id="app">
    <div class="sticky-top p-2 " style="background: linear-gradient(90deg, rgba(4,51,4, 1), #2ebf91);">
        <div class="logo align-content-center">
            <a class="" href="#"><img src="{{ asset('assets/images/logo_snvlt.png') }}" alt="Logo" style="height:72px;">
                <span class="text-light" style="font-size: 40px;font-weight: bold;margin-top: 10px;border-bottom: 3px solid white">
                                SNVLT
                            </span>
            </a>

            <div class="btn-group mb-1 row" style="float: right;">
                <div class="dropdown col-md-12">
                    <button class="btn btn-success dropdown-toggle m-2 fs-7" type="button"
                            id="dropdownMenuButton2" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {% if (app.user) %}
                            <span style="font-size: 13px;">{{ app.user.prenomsUtilisateur }} {{ app.user.nomUtilisateur }}</span>
                        {% else %}
                            Anonymous
                        {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 256A128 128 0 1 1 224 0a128 128 0 1 1 0 256zM209.1 359.2l-18.6-31c-6.4-10.7 1.3-24.2 13.7-24.2H224h19.7c12.4 0 20.1 13.6 13.7 24.2l-18.6 31 33.4 123.9 36-146.9c2-8.1 9.8-13.4 17.9-11.3c70.1 17.6 121.9 81 121.9 156.4c0 17-13.8 30.7-30.7 30.7H285.5c-2.1 0-4-.4-5.8-1.1l.3 1.1H168l.3-1.1c-1.8 .7-3.8 1.1-5.8 1.1H30.7C13.8 512 0 498.2 0 481.3c0-75.5 51.9-138.9 121.9-156.4c8.1-2 15.9 3.3 17.9 11.3l36 146.9 33.4-123.9z"/></svg><span class="ms-2">mon profil</span></a>
                        <a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg><span class="ms-2">Messageries</span></span></a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg><span class="ms-2">Déconnexion</span></a>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header mt-3">
                <div class="d-flex justify-content-between">

                    <div class="toggler mt-5">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">

                <ul class="menu">
                    <li class="sidebar-item active ">
                        <a href="{{ path('app_tdb_admin') }}" class='sidebar-link bg-success'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Tableau de bord</span>
                        </a>
                    </li>
                {% block menu %}

                {% endblock %}

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    {% if (app.user.codeOperateur.id is same as 2) %}
        <div class="alert-light-warning text-center  p-2">
            <span class=" text-dark fw-bold w-100 p-1">{{ app.user.codeexploitant.raisonSocialeExploitant }}</span>
        </div>
    {% elseif  (app.user.codeOperateur.id is same as 3) %}
        <div class="alert-light-primary text-center  p-2">
            <span class=" text-dark fw-bold w-100 p-1">{{ app.user.codeindustriel.raisonSocialeUsine }}</span>
        </div>
    {% elseif  (app.user.codeOperateur.id is same as 5) %}
        <div class="alert-light-secondary text-center  p-2">
            <span class="text-dark fw-bold w-100 p-1">DREF - {{ app.user.codeDr.denomination }}</span>
        </div>
    {% elseif  (app.user.codeOperateur.id is same as 6) %}
        <div class="alert-light-danger text-center p-2" style="background: linear-gradient(111.4deg, rgba(246, 4, 26, 0.6) 0.4%, rgba(251, 139, 34, 0.9) 100.2%); ">
            <span class="text-light fs-5 fw-bold w-100 p-1">DDEF - {{ app.user.codeDdef.nomDdef }}</span>
        </div>
    {% elseif  (app.user.codeOperateur.id is same as 7) %}
        <div class="bg-light text-center  p-2">
            <span class=" text-dark fw-bold w-100 p-1">CEF - {{ app.user.codeCantonnement.nomCantonnement }}</span>
        </div>
    {% elseif  (app.user.codeOperateur.id is same as 10) %}
        <div class="alert-light-dark text-center  p-2">
            <span class=" text-dark fw-bold w-100 p-1">PC - {{ app.user.codePosteControle.denomination }}</span>
        </div>
    {% endif %}
    <div id="main" style="background-image: url('{{ asset('assets/images/fond.jpg') }}'); background-size: cover; background-repeat: no-repeat;">

       {# <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>#}

        {% for message in app.session.flashBag.get('info') %}
            <div class="container mt-5 mx-md-auto" id="flash">
                <div class="alert alert-info">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% for message in app.session.flashBag.get('success') %}
            <div class="container mt-5 mx-md-auto" id="flash">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in app.session.flashBag.get('error') %}
            <div class="container mt-5 mx-md-auto" id="flash">
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        <div class="page-heading">
            <h4 style="color: #161f1c;background-color: rgba(185,255,178,0.5); padding: 4px;">
                {% block titre_page %}

                {% endblock%}
            </h4>
        </div>
        <div class="page-content" >
            {% block page_content %}

            {% endblock%}
        </div>

        <footer>
            <hr>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <a href="https://eauxetforets.gouv.ci/" target="_blank"><img  src="{{ asset('assets/images/logo_footer_snvlt-ok.png') }}" alt="logo_eaux_et_forets"></a>
                </div>

                <div class="float-end">
                    <p>Développé <span class="text-danger"></span> par <a  target="_blank"
                                href="http://www.system2is.com">SYSTEM 2IS</a></p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="{{ asset('assets/webapp/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('assets/webapp/assets/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ asset('assets/webapp/assets/vendors/apexcharts/apexcharts.js') }}"></script>
<script src="{{ asset('assets/webapp/assets/js/pages/dashboard.js') }}"></script>

<script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>

<script>
    $(document).ready(function () {
        $("#flash").delay(4000).fadeOut("slow");
    });
</script>
</body>

</html>
