{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Forests{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/foret.png') }}" alt="forest">  {% trans %}Forests{% endtrans %} - {% trans %}[ADD]{% endtrans %}
    </h2>
{% endblock %}

 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <section class="section">
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-12">
                        {% if (titre is same as "Ajouter une forêt") %}
                            <div class="">{{ form_row(form.numero_foret) }}</div>
                        {% else %}
                            <div class="">{{ form_row(form.numero_foret, {'attr':{'readonly': 'true', 'style':'color:black'}}) }}</div>
                        {% endif %}

                        <div class="">{{ form_row(form.denomination, {'attr': {style: 'font-weight:bold;font-size:16px;'}}) }}</div>
                        <div class="">{{ form_row(form.superficie, {'attr': {style: 'font-weight:bold;font-size:16px;'}}) }}</div>
                        <div class="">{{ form_row(form.date_premiere_attribution, {'attr': {style: 'font-weight:bold;font-size:16px;'}}) }}</div>
                        <div class="">{{ form_row(form.code_type_foret, {'attr': {style: 'font-weight:bold;font-size:16px;'}}) }}</div>
                        <div class="">{{ form_row(form.code_cantonnement, {'attr': {style: 'font-weight:bold;font-size:16px;'}}) }}</div>
                    </div>
                </div>
                <br>
                <a href="{{ path('ref_forets') }}" class="bg-danger p-2 me-2 text-white"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                <button type="submit"  class="btn btn-sm bg-primary text-white p-2" style="margin-left: 10px;">

                    {% if (titre is same as "Ajouter une forêt") %}
                        <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Add Forest{% endtrans %}
                    {% else %}
                        <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Edit Forest{% endtrans %}
                    {% endif %}
                </button>

                {{ form_end(form) }}
            </div>
        </div>


        <!--Modification de l'dr -->

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


    <script>

        $(document).ready(function() {

            $('.code_cantonnement').select2({
                placeholder: "-- Sélectionnez le cantonnement forestier--",
                theme: "bootstrap-5",
                width: '100%'
            });

            $('.type_foret').select2({
                placeholder: "-- Sélectionnez les types de transformation --",
                theme: "bootstrap-5",
                width: '100%'
            });

        });

    </script>
    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>


{% endblock %}

