{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Wood Factories{% endtrans %}
{% endblock %}

{% block titre_page %}
<h2 class="text-dark font-weight-bold mb-2">
    <img src="{{ asset('assets/images/webapp/usine.png') }}" alt="factory">  {% trans %}Wood Factories{% endtrans %} - [{% trans %}Add{% endtrans %}]
</h2>
{% endblock %}

{% block notifs %}
    {% include 'base/notifs.html.twig' %}
{% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/choices.js/choices.min.css') }}" />
    <section class="section">
        <div class="card">

            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-4">
                        <div class="">{{ form_row(form.numero_usine) }}</div>
                        <div class="">{{ form_row(form.raison_sociale_usine) }}</div>
                        <div class="">{{ form_row(form.sigle) }}</div>
                        <div class="">{{ form_row(form.ville) }}</div>
                        <div class="">{{ form_row(form.code_cantonnement) }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="">{{ form_row(form.cc_usine) }}</div>
                        <div class="">{{ form_row(form.tel_usine) }}</div>
                        <div class="">{{ form_row(form.fax_usine) }}</div>
                        <div class="">{{ form_row(form.adresse_usine) }}</div>
                        <div class="">{{ form_row(form.localisation_usine) }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="">{{ form_row(form.personne_ressource) }}</div>
                        <div class="">{{ form_row(form.email_personne_ressource) }}</div>
                        <div class="">{{ form_row(form.mobile_personne_ressource) }}</div>
                        <div class="">{{ form_row(form.capacite_usine) }}</div>
                        <div class="">
                            {{ form_row(form.export, {"attr":{'style':'margin-left:10px;'}}) }}
                            {{ form_row(form.code_exportateur) }}
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <div class="">{{ form_row(form.type_transformation) }}</div>
                    </div>
                    <hr>
                    <div class="col-md-12">
                    <a href="{{ path('ref_usines') }}" class="bg-danger p-2 me-2 text-white"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                    <button type="submit"  class="btn btn-sm bg-primary text-white p-2" style="margin-left: 10px;">

                        {% if (titre is same as "Ajouter un cantonnement") %}
                            <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Add Factory{% endtrans %}
                        {% else %}
                            <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Edit Factory{% endtrans %}
                        {% endif %}
                    </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>


        <!--Modification de l'dr -->

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#drs');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
    <script>

        $(document).ready(function() {

            $('.code_cantonnement').select2({
                placeholder: "-- Sélectionnez le cantonnement forestier--",
                theme: "bootstrap-5"
            });

             $('.typetransfo').select2({
                placeholder: "-- Sélectionnez le type de transformation --"
            });

        });

    </script>
    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>

    <script src="{{ asset('assets/webapp/assets/vendors/choices.js/choices.min.js') }}"></script>

{% endblock %}

