{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Departmental Directions{% endtrans %}
{% endblock %}


{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/departement.png') }}" alt="{% trans %}Direction{% endtrans %}">  {% trans %}Departmental Directions{% endtrans %} - {% trans %}[ADD]{% endtrans %}
    </h2>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <section class="section">
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
                <div class="row p-3 bg-white m-1">
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.nom_ddef) }}</div>
                        <div class="">{{ form_row(form.personneRessource) }}</div>
                        <div class="">{{ form_row(form.emailPersonneRessource) }}</div>
                    </div>
                    <div class="col-md-6">
                        <div class="">{{ form_row(form.mobilePersonneRessource) }}</div>
                        <div class="">{{ form_row(form.code_dr) }}</div>
                        <hr>
                        <a href="{{ path('ref_ddefs') }}" class="btn btn-sm bg-danger p-2 me-2 ms-5 text-white mt-2" style="font-weight: lighter"><i class="mdi mdi-backspace" style="font-size: 18px;margin-right: 10px;"></i>{% trans %}Back to list{% endtrans %}</a>
                        <button type="submit"  class="btn btn-sm bg-primary text-white p-2 mt-2" style="margin-left: 10px;font-weight: lighter">

                            {% if (titre is same as "Ajouter une DD") %}
                                <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Add Departmental Direction{% endtrans %}
                            {% else %}
                                <i class="mdi mdi-database-edit" style="font-size: 18px;margin-right: 10px"></i>{% trans %}Edit Departmental Direction{% endtrans %}
                            {% endif %}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>


        <!--Modification de l'dr -->

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        // Simple Datatable
        let table1 = document.querySelector('#drs');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>
    <script>

        $(document).ready(function() {
            $('.code_ddef').select2({
                placeholder: "--Sélectionnez la direction départementale...",
                theme: "bootstrap-5"
            });

            $('.code_dr').select2({
                placeholder: "-- Sélectionnez la direction régionale --",
                theme: "bootstrap-5",
                width: '100%'
            });
        });

    </script>


    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>


{% endblock %}

