{% extends 'template_base.html.twig' %}

{% block Title %}
    {% trans %}SNVLT{% endtrans %} - {% trans %}Departmental Directions{% endtrans %}
{% endblock %}

{% block titre_page %}
    <h2 class="text-dark font-weight-bold mb-2">
        <img src="{{ asset('assets/images/webapp/departement.png') }}" alt="{% trans %}Direction{% endtrans %}">  {% trans %}Departmental Directions{% endtrans %}
    </h2>
    <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
        <div class="btn-group p-1 rounded-5 " role="group" aria-label="#">
            <a class="btn btn-inverse-danger p-2 mt-2" style="border: 0px; font-size: 16px;" href="{{ path('ddef.edit') }}"> <i class="mdi mdi-plus-circle me-2" style="font-size: 20px;"></i>{% trans %}Add{% endtrans %}</a>
        </div>
    </div>
{% endblock %}


 {% block notifs %}
     {% include 'base/notifs.html.twig' %}
 {% endblock %}

 {% block menu %}
     {% include 'base/menu.html.twig' %}
 {% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('assets/webapp/assets/vendors/simple-datatables/style.css') }}">

    <section class="section">
        <div class="card">

            <div class="card-body">
                <table class="table" id="ddefs">
                    <thead>
                    <tr style="background: #f55e04;color: #fcf8f8">
                        <th>{% trans %}DD Name{% endtrans %}</th>
                        <th>{% trans %}Manager{% endtrans %}</th>
                        <th>{% trans %}Manager email{% endtrans %}</th>
                        <th>{% trans %}Manager Phone{% endtrans %}</th>
                        <th>{% trans %}Regional Direction{% endtrans %}</th>
                        <th>{% trans %}Number of Cantonments{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for ddef in liste_ddefs %}
                            <tr>
                                <td class="text-dark fw-bold"><a class="link-dark editBtn" style="font-weight: bold;color: #370905"  href="{{ path('ddef.edit', {'id_ddef': ddef.id })}}" id="{{ ddef.id }}">{{ ddef.nomDdef }}</a></td>
                                <td>{{ ddef.personneRessource }}</td>
                                <td>{{ ddef.emailPersonneRessource }}</td>
                                <td>{{ ddef.mobilePersonneRessource }}</td>
                                <td>{{ ddef.codeDr.denomination }}</td>
                                <td>{{ ddef.cantonnements.count}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <script src="{{ asset('assets/webapp/assets/vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ asset('assets/webapp/assets/vendors/jquery/jquery.min.js') }}"></script>

    <script>



        // Simple Datatable
        let table1 = document.querySelector('#ddefs');
        let dataTable = new simpleDatatables.DataTable(table1);


    </script>
    <script src="{{ asset('assets/webapp/assets/js/main.js') }}"></script>


{% endblock %}

